/* First task = add flame emoji */
.stats-grid:nth-child(1) ::before {

	content: "🔥";
	position:absolute;
	top:-1.3rem;
	left:50%;
	transform: translate(-50%,-50%)
}
/* First task = add flame emoji */


.stats-container > .stats-grid:nth-of-type(3) > .stat-number,
.stats-container > .stats-grid:nth-of-type(3) > .stat-label 
 {
	color: white !important;
}

/* Second task = add background linear gradient on third grid child/correct white text */
.stats-grid:nth-child(3)  {

	background: linear-gradient(to right, rgb(70, 24, 161),rgba(238, 130, 238, 0.436));
}

/* Second task = add background linear gradient on third grid child/correct white text */



/* Third task = add 5px shadowbox to add movement*/
.stats-grid:hover {
  box-shadow: 5px 5px 5px #333;
}

/* Third task = add 5px shadowbox to add movement*/



/* Fourth task = add left orange border and background color*/
.workout-section > .workout-plan:nth-last-of-type(2){

border-left: solid 5px orange;
background-color: rgb(243, 226, 194);


}

/* Fourth task = add left orange border and background color*/



/* Fifth task = add background and border color to first and last child  */
.exercise-item:first-child,
.exercise-item:last-child { 

    background-color: rgba(182, 241, 220, 0.626);
    border-color: rgb(28, 201, 28);
}

/* Fifth task = add background and border color to first and last child  */



/* Sixth task = add ⚡ emoji to second and fourth child */
.exercise-item:nth-child(2)::before,
.exercise-item:nth-child(4)::before{
    content: "⚡";
}
/* Sixth task = add ⚡ emoji to second and fourth child */


/* Seventh and Eighth task = add input focus, also add select */
input:focus,select,select:focus-visible {
border: solid blue 2px;
outline: none;
box-shadow: 3px 3px 3px black;
transition: border-color 0.3s, box-shadow 0.3s;
}
/* Seventh and Eighth task = add input focus, also add select */


/* Ninth task = add mouse hover on button with animation and shadow( bonus: added hover off too) */
.save-btn {
	background: #667eea;
	color: white;
	border: none;
	padding: 15px 25px;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	margin-top: 15px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.save-btn:hover {
    box-shadow: 0px 2px 2px 2px  rgb(20, 20, 255);
    background-color: rgb(62, 155, 51);
    transition: box-shadow 0.5s, background-color 0.5s;
    
}
/* Ninth task = add mouse hover on button with animation and shadow (bonus: added hover off too) */



