.stats-grid:nth-child(1) ::before {

	content: "🔥";
	position:absolute;
	top:-1.3rem;
	left:50%;
	transform: translate(-50%,-50%)
}
/* First task = add flame emoji */


.stats-container > .stats-grid:nth-of-type(3) > .stat-number{

	color: #ffffff;
}

.stats-container > .stats-grid.stats-grid:nth-of-type(3) > .stat-label {
	color: white;
}

/* Second task = add background linear gradient on third grid child/correct white text */




.stats-grid:hover {
  box-shadow: 5px 5px 5px #333;
}

/* Third task = add 5px shadowbox to add movement*/